.menu {
    background-color: aqua;
    display: flex;
    list-style: none;
}
.menu li{
    width: 120px;
    margin: 15px;
    padding: 15px;
    align-items: center;
    
 flex-grow: 1;
    border-right: 1px solid;
}
.menu a{
    justify-content: space-between;
    color: rgb(7, 33, 33);
    text-decoration: none;
}
.menu li:hover{
    background-color: rgb(12, 106, 106);
}
.sub_menu{
    display: none;
}
.menu li:hover .sub_menu{
    display: block;
    position: absolute;
    margin-top: 15px;
    margin-left: -15px;
}
.menu li:hover .sub_menu ul{
    display: block;
    margin: 0px;
    padding: 0px;
    background-color: aqua;
    text-decoration: none;
    list-style: none;
}
.menu li:hover.sub_menu li{
    width: 220px;
    text-align: left;
   padding: 10px;
   margin: 10px;
   border-bottom: 1px solid;
   border-radius: 15%;
}


