body{
    background-color: rgb(97, 93, 88);
background-repeat: none;
background-size: cover;
}
header{
    width: 100%;
    align-items: center;
    text-align: center;
}
.menu{
    margin: 0;
    padding: 0;
}
.menu ul{
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
    list-style: none;
   
}
.menu ul li{
    flex-grow: 1;
    padding: 20px;
    margin: 10px 5px;
    border-radius: 10%;
    background-color: rgb(97, 93, 88);
    transition: background-color 0.35s ease-in-out;
}
.menu ul li a{
    text-decoration: none;
    color:bisque;
}
.menu ul li:hover{
    background-color: rgb(119, 113, 107);
}
section{
    width: 100%;
    align-items: center;
}
section .find{
    display: flex;
   margin: 0px 450px;
   padding: 0;
   justify-content: center;
   background-color: rgb(255, 255, 255);
}

section .find input{
    width: 460px;
    height: 40px;
    border: none;
}
